/*---------------------------------------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ffffff;
    color: #707070;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}  /*Use the class to clear the float after element*/
.clearfix::after { /*put clearfix class to the ul element because the child elements of ul class, which are li elements are the one who has the float property. So, we put clearfix class to the parent then that floatwill be clear*/
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/*---------------------------------------------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0; /*planning to have background color so have to use padding instead of margin*/
}

.box {
    padding: 1%;
}
/*---------------------------------------------------------------------------*/
/*HEADING*/
/*---------------------------------------------------------------------------*/

h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0; /*to reduce the margin of h1*/
    margin-bottom: 20px;
    color: #ffffffd0;
    font-size: 240%; /*means our heading element will be 40px which is exactly 200% of 40px, so when we change the font-size in the global(html), this will be flexible.*/
    word-spacing: 4px; /*control the space between the word "Hello    world, Hello world"*/
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {  /*:after pseudo class, some stuff appeared after h2 in this case*/
    display: block;
    height: 2px;
    background-color: #fd9644;
    /*it's very important whenever we do :after pseudo class, we have to specify content*/
    content: " ";  /*In this case, wedont'want any word here, so we put space.*/
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

/*---------------------------------------------------------------------------*/
/*PARAGRAPH*/
/*---------------------------------------------------------------------------*/

.longCopy {
    line-height: 145%; /*see in typography lecture*/
    width: 70%;  /*make the width of the paragraph to do not be so long*/ 
    margin-left: 15%; /*margin in both side left from the width in total is 30%, so we devided half and half to make the text center*/
}

.box p {
    font-size: 90%;
    line-height: 145%; /*control the line height between the line*/
}

/*---------------------------------------------------------------------------*/
/*ICONS*/
/*---------------------------------------------------------------------------*/

.showIcon {
    font-size: 250%;  /*ionicons is font icon so we can adjust as a font*/
    display: block;  /*force the line break*/
    color: #fd9644;
    margin-bottom: 10px;
}

.citesIcon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #fd9644;
    font-size: 120%;
    margin-right: 10px;

    /*secret to align text and icon*/
    line-height: 120%;  
    vertical-align: middle;   
    margin-top: -5px; /*margin gives space, negative margin takes space away*/
}

/*---------------------------------------------------------------------------*/
/*LINKS*/
/*---------------------------------------------------------------------------*/

a:link,
a:visited{
    color: #fd9644;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #fd9644;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #707070;
    border-bottom: 1px solid transparent;
}

/*---------------------------------------------------------------------------*/
/*BUTTON*/
/*---------------------------------------------------------------------------*/

.btn:link, 
.btn:visited { /*pseudo-classes, :link in this case, means the 'a' element in its normal state and then have visited state*/
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none; /*get rid of the underline*/
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btnFull:link,
.btnFull:visited {
    background-color: #fd9644;  /*Use flatuicolor to choose color*/
    border: 1px solid #fd9644;
    margin-right: 20px;
    color: #ecf0f1;
}

.btnGhost:link,
.btnGhost:visited {
    border: 1px solid #fd9644;
    color: #fd9644;
}

.btn:hover,
.btn:active {
    background-color: #a7886f;
}

.btnFull:hover,
.btnFull:active {
    border: 1px solid #fd9644;
}

.btnGhost:hover,
.btnGhost:active {
    border: 1px solid #fd9644;
}

/*---------------------------------------------------------------------------*/
/*HEADER*/
/*---------------------------------------------------------------------------*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.26), #000), url(CSSimg/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh; /*100% of viewport*/
}

.heroTextBox {
    position: absolute; /*only the way we can vertically and horizontally center*/
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*To translate the element half og its width and height up and to the left*/
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 5px;
}

/*---------------------------------------------------------------------------*/
/*MAIN NAVIGATION*/
/*---------------------------------------------------------------------------*/

.mainNav {
    margin-top: 35px;
    float: right;
    list-style: none;
}

.mainNav li { /*we select mainNav and all li element inside*/
    display: inline; /*from block will be side by side*/
    margin-left: 40px;
}

.mainNav li a:link,
.mainNav li a:visited { /*manage a href*/
    padding: 8px 0px;
    color: #ffffffd0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 75%; /*always use % base on global (html) px to be able to adjust by itself*/
    border-bottom: 2px solid transparent;
    transition: border 0.2s;
}

.mainNav li a:hover,
.mainNav li a:active {
    border-bottom: 2px solid #fd9644;
}

/*---------------------------------------------------------------------------*/
/*FEATURES*/
/*---------------------------------------------------------------------------*/

.sectionFeatures .longCopy {
    margin-bottom: 30px;
}

/*---------------------------------------------------------------------------*/
/*MEALS*/
/*---------------------------------------------------------------------------*/

.sectionMeal {
    padding: 0;
}

.mealsShowcase {
    list-style: none; /*delete bullet point*/
    width: 100%;
}

.mealsShowcase li {
    display: block;
    float: left;
    width: 25%;  /*with 100% full width in .mealShowcase, we want four images be in the same line so we have to define equally*/
}

.mealPhoto {
    width: 100%; /*it has exact width with its parent which is .mealShowcase li*/
    margin: 0; /*according to normalize.css defines some margin so we have to define it here too*/
    overflow: hidden; /*force the image to be not bigger than its container*/
    background-color: black;
}

.mealPhoto img {
    opacity: 0.7; /*Opacity is up to background color. If we want black, we have to set bg of image to black*/
    width: 100%;  /*assure exactly that the images is as wide as its container*/
    height: auto;
    transform: scale(1.15); /*Instead of 100%, the photo will be 115% big*/
    transition: transform 0.5s, opacity 0.5s; /*timing of transform element*/
}

.mealPhoto img:hover {  /*We can usehover for every elements. It doesn't work only for link.*/
    opacity: 1;
    transform: scale(1.03);  /*back to normal, in actually normal is 1 (100%) but there is small space in the image containerso we fix it using scale 1.03*/
}

/*---------------------------------------------------------------------------*/
/*HOW IT WORKS*/
/*---------------------------------------------------------------------------*/

.sectionSteps {
    background-color: #f0f0f0;
}

.stepsBox:first-child { /*:first-child will select the first of these stepsBox, see more useful selector in Jonas's site*/
    text-align: right; /*can work with all inline block element*/
    padding-right: 3%; /*useful for responsive web design to be fluid*/  
    margin-top: 30px; /*divide from 100*/
}

.stepsBox:last-child {
    padding-left: 3%;
    margin-top: 70px; /*divide from 100*/
}

.appScreen {
    width: 40%;
}

.workStep {
    margin-bottom: 50px;
}

.workStep:last-of-type {  /*select the last element in workStep*/
    margin-bottom: 80px;    
}

.workStep div {
    color: #fd9644;
    border: 2px solid #fd9644;
    display: inline-block; /*the element doesn't force a line break and the number can be side by side of the text*/
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btnApp:link,
.btnApp:visited {
    border: 0;
}

.btnApp img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*---------------------------------------------------------------------------*/
/*CITIES*/
/*---------------------------------------------------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.citiesFeature {
    margin-bottom: 5px;
}

